.container {
  padding: 0 2rem;
}

.logo {
  height: 3rem;
}

.brand {
  display: grid;
  align-items: center;
  grid-template-columns: 5rem 1fr;
  column-gap: 2rem;
  margin-bottom: 2rem;

  h2 {
    grid-column: 1 / -1;
  }
}

.product {
  display: grid;
  align-items: center;
  grid-template-columns: 10rem 1fr;
  column-gap: 2rem;
  margin-bottom: 2rem;

  h2 {
    grid-column: 1 / -1;
  }

  img {
    max-width: 10rem;
  }
}
